<div>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="http://placeimg.com/people/40/40/people" alt="logo"  class="site-logo">
    </a>
    
    <!-- Links -->
    <div class="flex-nav"> 
      <ul class="navbar-nav pull-right">
        <li class="nav-item pull-right">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
        </li> -->
      </ul>
    </div>
   
  </nav>
  
    <header>
      <div class="pagetitle"> 
        <h1>Awesome Art Paint</h1>
      </div>
    </header>
  
  
    <div ui-view="mainContent"></div>
  
   
  <footer class="mainFooter">
  
  <p>©2018 by www.HigherLivingArt.com. Proudly created with </p>
  
  </footer>
</div>