<div class="container-fluid">
  <div class="card">
    <div class="row img-fluid slideImg">        
         <div  ng-repeat="paint in vm.paints" class="col-md-3 img-thumbnail rounded"> 
           <a ui-sref="#" class="img-thumbnail">
          <img ng-src="{{ paint.photo }}" class="img-design" />
          <div class="paintDetail"> {{paint.paintname}}</div> <br>
          <div class="paintDetail"> {{paint.price}}</div>
          <div class="overlay">Click to Buy</div>
        </a> 
        </div>
                 
       </div>
  </div>
<br><br>


<div class="first-section mx-auto "> 
  
<div> <a ui-sref="index.shop"> <p class="badge-pill bg-danger mx-auto py-2 flo"style="text-align: center">Click here to See More Painting</p></a></div>
<div class="text-center"> 
    <img src="/images/March 11.jpg" class="align-content-center rounded-circle" width="400px" height="400px"alt="Owner's Image">
  </div>
</div>
<div id="" class="page-content">
      <div> <h1>Artist Bio </h1> </div>
        <div class="content">
       <h3> Higher Living Art </h3>
        
        <p> Hi, I'm Lisa Benson and I am excited to share my fun and inspiring creations with you.
        
          I currently live in Utah, and am an Actress/Model/Singer/Performer/Healer....and Artist!</p> 
        
     </p> Long ago, I remember watching a street artist paint with spray paint as our family was on vacation somewhere, and my parents decided to buy some when we got home so we could try it out ourselves!</p>
        ​
        <p>        We painted some really cool space scenes, with planets and stars, and whatever else we could think of.</p>
        
        
        <p>  This inspired me later in life, and I thought I'd try some new things with spray paint....
        
          and boy has it been fun! </p>
       
        <p> I have now ventured into fluid acrylics, and even mixing the two mediums together. 
        
        Loving every minute of it!! </p>        ​
        <p>        Creating with color has been so healing for me.  It's given me a sense of freedom of expression, and it has really been exciting to see what new things I can come up with.</p>
        <p>    I am continuing to expand the kinds of art I create, and I am having such a blast!
        Anything is possible, right?!</p> 
        <p> If you are interested in purchasing any of my paintings, or would like to commission me
        
        to do a piece for you, please message me - I'd love to create something wonderful for you. </p>    
        <p> Enjoy!</p>
       </div>
     
      </div>

    
    </div>
  </div>
      <div class="payment-option mb-5 pb-lg-5">
         <h1 class=""> PAYMENT OPTIONS </h1>
         <p class="mx-auto"><h5> Contact me to discuss payment options.  :-) </h5></p> 
          
         <p> <h2> VENMO  </h2></p>
         <p class="pb-lg-5"><h2>  @Lisa-Benson</h2></p>
         <p><h2> PAYPAL</h2></p> 
         <p class="pb-lg-5"><h2>  lisabenson11@hotmail.com </h2></p>
          <p><h2> SQUARE</h2> </p>
          <p class="pb-lg-5"><h2>  squareup.com/store/Higher-Living </h2></p>
         

      </div>

      <div class="row col-12">
              <div class="col-6">
                  <img src="/images/paint5.jpg" class=" mb-5 rounded " width="600px" height="400px"alt="Owner's Image">
              </div>
              <div class="col-6 Page-quote">
                <blockquote><h3 class="text-center quote"> <p>The best way to predict the future is to start today. </p></h3>
                  <footer>This famous quote is by <cite title="Abraham Lincoln">Abraham Lincoln</cite>  </footer>  </blockquote>
                </div>

      </div>

      <div class=" mb-5 contact-section">
        <div class="row col-12">
              <div class="col-6 contact-info"> 
                <h1 class="contact-me mb-5">Contact Me</h1>
                <p class="author-name mb-5">Martha Esteban</p>
                <address class="author-address mb-5">  Greenaches , Florida</address>
                <p class="author-email mb-5">martha@ hosting.com</p>
                <p class="author-number mb-5">786 802 9008</p>
              </div>
              <div class="col-6"> 
                <div class="contact-Form">
                      <form>
                        <label for="fname">Full Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="Your  Full name..">
                    
                        <label for="lname">Email</label>
                        <input type="text" id="lname" name="email" placeholder=" Enter Your Email..">
                    
                        <label for="lname">Address</label>
                        <input type="text" id="lname" name="address" placeholder=" Enter Your Address..">

                        <label for="lname">Subject</label>
                        <input type="text" id="lname" name="subject" placeholder=" Enter Your Subject..">
                    
                        <label for="subject">Message</label>
                        <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>
                    
                        <input type="submit" value="Send">
                      </form>
                    </div>
                </div>
        </div>
     </div>
     <div class="col-12">
      <div class="above-footer">

      </div>
 </div>
  
   

 

