* {
    color: white;
}

body {
    background-color: black;
}

.container {
    margin-bottom: 15vh;
}

.pagetitle {
    text-align: center;
    padding: 5px;
}


/* ############## FOOTER STYLES #################################### */

.mainFooter {
    background-color: gray;
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

.page-content {
    width: 50%;
    margin: auto;
    text-align: center;
}

.content {
    font-family: cursive;
}


/*#################### Payment Section style ###################################### */

.payment-option {
    background-color: gray;
    width: 100%;
}


/* ######################## NAVIGATION DESIGN ############################################## */

.flex-nav {
    display: flex;
    float: left;
}

.img-design {
    width: 320px;
    height: 320px;
    margin-right: 2px;
    margin-bottom: 7px;
    margin-left: -12px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: maroon;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: maroon;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.badgenotification {
    position: absolute;
    top: 18px;
    margin-left: -15px;
}


/*############################################# Display Images ############################*/

.quote {
    margin-top: 146px;
}

.Page-quote {
    font-style: italic;
    font-size: larger;
    text-align: justify;
}


/* ######################### CONTACT DETAILS ############################### */

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background: black;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact-info {
    text-align: center;
}

.contact-me {
    font-size: 508%;
    font-family: auto;
}

.author-name {
    font-style: italic;
    font-size: 185%;
    font-family: auto;
}

.author-address {
    font-style: italic;
    font-size: 185%;
    font-family: auto;
}

.author-email {
    font-style: italic;
    font-size: 185%;
    font-family: auto;
}

.author-number {
    font-style: italic;
    font-size: 185%;
    font-family: auto;
}


/* ####################################################### end of the contact form */

.above-footer {
    background: url("/images/bluebackgroundImg.jpg") no-repeat;
    background-size: cover;
    height: 80vh;
    width: 101%;
    margin-bottom: 25vh;
}

.shop-list-container {
    height: 100%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15px;
}

.shop-image {
    width: 224.5px;
    height: 224.5px;
    margin-left: -16px;
}

.paintDetail {
    color: darkblue;
    font: 200;
    text-align: center;
    font-size: medium;
    font-family: fantasy;
}

.loadBtn {
    color: black;
    border: 1px solid blue;
    padding: 15px;
    border-radius: 14px;
    margin-left: 428px;
}

.nav-styles {
    padding: 19px;
    margin-left: 782px;
}

.icon-placing {
    margin: 8px;
}


/* ################# Preview Item Section###################### */

.preview-item-wraper {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10px;
    margin-top: 95px;
}

.Item-title,
.item-title2 {
    padding: -2px;
}

.item-sample {
    margin-top: 55px;
    /* border: 1px solid; */
    margin-bottom: 55px;
}

.write-up {
    line-height: 3em;
    margin-bottom: 92px;
    font-family: cursive;
}

.item-title2 {
    margin-top: 63px;
    margin-left: 30px;
}

.price {
    margin-right: 302px;
    margin-top: 44px;
}

.quantity {
    font-family: cursive;
    margin-left: 35px;
}

.qtyInput {
    padding: 16px;
    background: black;
    margin-bottom: 38px;
}

.AddtoCart {
    padding: 22px;
    background: black;
    padding-left: 194px;
    text-align: center;
    padding-right: 186px;
    border-radius: 15px;
    margin-bottom: 70px;
    margin-left: 23px;
}


/* .addtocartbtn {
    scroll-margin-left: 3px;
} */


/*#################### Modal Design ###################################### */

.modal-img {
    margin-left: 20px;
}

.modal-content {
    color: black;
}

.modalinput {
    size: 4px;
    width: 78px;
}

.modalprice {
    margin-top: 16vh;
    font-family: fantasy;
}

.modal-item-title2 {
    margin-top: 0vh;
    text-align: center;
    font-family: fantasy;
}

.Modalquantity {
    margin-top: 16vh;
    font-family: cursive;
    margin-left: inherit;
}