<div class="preview-item-wraper">
  <div class="row col-md-12">
      <div class="preview-content col-6">
        <span class="Item-title"> "Elephant" -20" -30" an Elegant frame pictures</span>
        <div class="item-sample">
          <img src="/images/paint10.jpg" style="width: 498px; height:373px">
        </div>
        <div class="write-up">
          <p> Feel the earth rumble as this silver avalanche comes silently over your wall.... 

              With ice crackling, it's ready to burst at any moment!
              
              (The varnish has diagonal slits, giving the appearance of cracked ice on top of the painting.) <br>
              
               
              
              Watch my YouTube video to see how I made it...
              
              https://youtu.be/ebV_3AMuSl0
              
               
              
              Framing options are available for an additional cost.  Contact me for details!
            </p>
        </div>


    </div>

    <div class="col-6">
      <span> Insert Pagination Here</span> <br>
        <div class="item-title2"> "Elephant" -20" -30" an Elegant frame pictures</div>
            <div class="price">
              <h2>N400.00</h2>
            </div>
            <div class="quantity">  
              
                <label for="quantity">Quantity</label> <br>
                <input type="number" id="quantity" class="qtyInput" value="1">
            </div>
            <div>
                <button class="mt-3 AddtoCart" ng-click="">Add to Cart</button>
              </div>  
              <div class="write-up">
                <h1>SHIPPING INFO</h1>
                <p> Please contact me directly about shipping and delivery of this painting so we can discuss pricing and options.

 <br>

                    Thanks!
                    <br>
                    
                    ~ Martha</p>
              </div>

    </div>

  </div>




</div>